// Colors
// CSS Variable
:root {
    // Form factor
    --bright: hsla(0, 0%, 100%, 1);
    --on-bright: hsla(0, 0%, 15%, 1);
    --medium-bright: rgb(237, 237, 237);
    --on-medium-bright: hsla(0, 0%, 15%, 1);
    --medium: rgb(175, 175, 175);
    --on-medium: hsla(0, 0%, 15%, 1);
    --dark: hsla(0, 0%, 0%, 1);
    --on-dark: hsla(0, 0%, 85%, 1);
    --shadow: hsla(0, 0%, 0%, 0.5);

    // Identity
    --primary: hsla(300, 93%, 12%, 1);
    --on-primary: rgb(250, 204, 250);
    --secondary: hsla(120, 94%, 33%, 1);
    --on-secondary: rgb(200, 250, 200);
    --tertiary: hsla(174, 90%, 37%, 1);
    --on-tertiary: rgb(2, 47, 43);
    --accred: hsl(360, 84%, 64%);
    --on-accred: var(--bright);
    --neutral: hsla(0, 0%, 50%, 1);
    --on-neutral: hsla(0, 0%, 85%, 1);

    // Semantic
    --error: hsla(0, 100%, 50%, 1);
    --on-error: rgb(251, 202, 202);
    --warning: hsla(50, 100%, 50%, 1);
    --on-warning: hsl(50, 98%, 23%);
    --info: hsla(210, 100%, 50%, 1);
    --on-info: rgb(164, 208, 251);
    --success: hsla(110, 100%, 50%, 1);
    --on-success: rgb(21, 124, 1);

    // State or element
    --disabled: var(--neutral);
    --on-disabled: var(--on-neutral);

    --link-color: blue;
    --link-hover: red;
    --link-visited: purple;
    --link-active: green;

    --code: hsla(210, 100%, 30%, 1);
    --on-code: var(--bright);

    --sample: hsla(210, 100%, 50%, 0.2);
    --sample-dark: hsla(30, 100%, 50%, 0.4);
    --on-sample: var(--dark);
}

$colors: (
    bright: var(--bright),
    on-bright: var(--on-bright),
    dark: var(--dark),
    on-dark: var(--on-dark),
    primary: var(--primary),
    on-primary: var(--on-primary),
    secondary: var(--secondary),
    on-secondary: var(--on-secondary),
    tertiary: var(--tertiary),
    on-tertiary: var(--on-tertiary),
    accred: var(--accred),
    on-accred: var(--on-accred),
    neutral: var(--neutral),
    on-neutral: var(--on-neutral),
    error: var(--error),
    on-error: var(--on-error),
    success: var(--success),
    on-success: var(--on-success),
    info: var(--info),
    on-info: var(--on-info),
    warning: var(--warning),
    on-warning: var(--on-warning),
    disabled: var(--disabled),
    on-disabled: var(--on-disabled),
    shadow: var(--shadow),
    link-color: var(--link-color),
    link-hover: var(--link-hover),
    link-visited: var(--link-visited),
    link-active: var(--link-active),
);

@each $key, $value in $colors {
    .bg-#{$key} {
        background-color: $value;
    }
    .text-#{$key} {
        color: $value;
    }
}

:root {
    --default: 1rem;
    --big: 2rem;
    --small: 0.75rem;
}

:root.dark {
    background-color: var(--dark);
    color: var(--on-dark);
}

$lightens: (
    100: 100%,
    110: 110%,
    120: 120%,
    130: 130%,
    140: 140%,
    150: 150%,
    160: 160%,
    170: 170%,
    180: 180%,
    190: 190%,
    200: 200%,
    210: 210%,
    220: 220%,
    230: 230%,
    240: 240%,
    250: 250%,
    260: 260%,
    270: 270%,
    280: 280%,
    290: 290%,
    300: 300%,
    310: 310%,
    320: 320%,
    330: 330%,
    340: 340%,
    350: 350%,
    360: 360%,
    370: 370%,
    380: 380%,
    390: 390%,
    400: 400%,
);

@each $key, $value in $lightens {
    .lighten-#{$key} {
        filter: brightness($value);
    }
}

.lighter {
    opacity: 50%;
    background: white;

}
.darker {
    filter: brightness(75%);

}