
html, :root {
    font-family: $font-family-sans-serif ;
    font-size: 18px; // Basis für 1rem // clamp(16px, 3vw, 24px);
    line-height:1.415490;
    text-align: left;
}

article:first-of-type {
    margin-block-start: toRem(5);
}

p {
    font-size: toRem(1);
    hyphens: auto;
//    column-width: toRem(25); // 50 bis 75 Zeichen
}

/*
    Je größer der Bildschirm, desto die Schrift
    Copy:
    22px Desktop (4K 2560px!)
    18px Tablet
    15px Smartphone (auflösungsabhängig)

*/


h2{font-size: 3rem;}

// @media (resolution: 96dpi) {
//     html, :root {
//         font-size: 10px !important;
//     }
// }
// @media (resolution: 192dpi) {
//     html, :root {
//         font-size: 30px !important;
//     }

// }

// @media (max-width: 480px) {
//     html, :root {
//         font-size: 10px !important;
//     }

// }