
html, :root {
    font-family: $font-family-sans-serif ;
    font-size: 16px; // Basis für 1rem // clamp(16px, 3vw, 24px);
    line-height:1.415490;
    text-align: left;
}

article:first-of-type {
    margin-block-start: toRem(5);
}

p {
    font-size: toRem(1);
    hyphens: auto;
    // column-width: toRem(25); // 50 bis 75 Zeichen
}
