body,
html {
    height: 100%;
    margin: 0;
    font-weight: 400;
    // font-size: 15px;
    // line-height: 1.8;
    // font-family: Barlow, "Lato", sans-serif;
    color: var(--neutral);
}

h1,
h2,
h3 {
    // font: 1.25rem Barlow, "Lato", sans-serif;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-weight: 400;
}

article:nth-child(1) {
    height: 100vh;
}

.teaser-1,
.teaser-2,
.teaser-3,
.teaser-4,
.teaser-5,
.teaser-6,
.teaser-7,
.teaser-8,
.teaser-9,
.teaser-10 {
    position: relative;
    opacity: 0.85;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    perspective: 8px;
    perspective-origin: 0%;

    .caption {
        background-color: transparent;
        font-size: 1.6667rem;
        color: var(--bright);
        text-shadow: 0.125rem 0.125rem 0.25rem var(--shadow);
    }
}
.teaser-1 {
    background-image: url("./../figures/588-2509x1673.jpg");
    min-height: 100%;
}

.teaser-2 {
    background-image: url("./../figures/52-1280x853.jpg");
    min-height: 400px;
}

.teaser-3 {
    background-image: url("./../figures/594-2509x1673.jpg");
    min-height: 400px;
}

.teaser-4 {
    background-image: url("./../figures/1019-5472x3648.jpg");
    min-height: 400px;
}

.teaser-5 {
    background-image: url("./../figures/1019-5472x3648.jpg");
    min-height: 400px;
}

.teaser-6 {
    background-image: url("./../figures/1019-5472x3648.jpg");
    min-height: 400px;
}

.teaser-7 {
    background-image: url("./../figures/1019-5472x3648.jpg");
    min-height: 400px;
}

.teaser-8 {
    background-image: url("./../figures/1019-5472x3648.jpg");
    min-height: 400px;
}

.teaser-9 {
    background-image: url("./../figures/1019-5472x3648.jpg");
    min-height: 400px;
}

.teaser-10 {
    background-image: url("./../figures/1019-5472x3648.jpg");
    min-height: 400px;
}

.caption {
    background-color: var(--dark);
    color: var(--bright);
    padding: 1.3rem;
    font-size: 1.6667rem;
    letter-spacing: 0.6667rem;
}

h3 {
    color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .teaser-1,
    .teaser-2,
    .teaser-3,
    .teaser-4,
    .teaser-5,
    .teaser-6,
    .teaser-7,
    .teaser-8,
    .teaser-9,
    .teaser-10 {
        background-attachment: scroll;
    }
}
.info-1,
.info-2,
.info-3,
.info-4,
.info-5,
.info-6,
.info-7,
.info-8,
.info-9 {
    position: relative;
    text-align: left;
    padding: 3.3rem 5.3rem;
    margin: 0;
}

.info-1 {
    color: var(--dark);
    background-color: var(--bright);
    & > h2 {
        text-align: center;
    }
}
.info-2,
.info-3,
.info-4,
.info-5,
.info-6,
.info-7,
.info-8,
.info-9 {
    color: var(--bright);
    background-color: var(--neutral);
}
