// @import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

html {
    // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    // // Small device (mobile)
    // @media (max-width: 904px) {
    //     font-size: 12px; // ca. 20px für Visus 0.3
    // }
    // // Small in landscape, medium (tablet)
    // @media (min-width: 905px) {
    //     font-size: 15px;
    // }
    // // Desktop (small)
    // @media (min-width: 1240px) {
    //     font-size: 18px;
    // }
    // // Desktop (large)
    // @media (min-width: 1440px) {
    //     font-size: 22px;
    // }

    //     &.dark {
    //         // Small device (mobile)
    //         @media (max-width: 904px) {
    //             font-size: calc(12px * 1.1); // ca. 20px für Visus 0.3
    //             letter-spacing: 0.02rem;
    //         }
    //         // Small in landscape, medium (tablet)
    //         @media (min-width: 905px) {
    //             font-size: calc(15px * 1.1);
    //             letter-spacing: 0.02rem;
    //         }
    //         // Desktop (small)
    //         @media (min-width: 1240px) {
    //             font-size: calc(18px * 1.1);
    //             letter-spacing: 0.02rem;
    //         }
    //         // Desktop (large)
    //         @media (min-width: 1440px) {
    //             font-size: calc(22px * 1.1);
    //             letter-spacing: 0.02rem;
    //         }
    //     }
}

.c-fish-form *:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;

    &::before {
        content: "🐟";
        font-size: 1rem;
    }
}
$size: 10rem;
$svg-width: 1600px;
$svg-height: 220px;
$width: $size * 5;
$height: $size * 8;

$null: 0;
$akzent: 0.14;
$mheight: 0.21;
$xheight: 0.18;
$baseline: 0.52;
$descender: 0.23;
$linespacing: 0.4;
$kegel: 0.1;
// 1.48

$null-y: $null;
$akzent-y: $null + $size * $akzent;
$mheight-y: $akzent-y + $size * $mheight;
$xheight-y: $mheight-y + $size * $xheight;
$baseline-y: $xheight-y + $size * $baseline;
$descender-y: $baseline-y + $size * $descender;
$linespacing-y: $descender-y + $size * $linespacing;
$kegel-y: $linespacing-y + $size * $kegel;
._10 {
    background: hsla(0deg, 100%, 50%, 0.25);
}

.very-large {
    min-width: 100%;
    min-height: 100%;

    padding: 0;
    margin: 0;
    margin-block-start: 3rem;

    outline: 2px dotted black;
    font-size: $size;
    // background-size: $width $height;
    // background-repeat: repeat;
    background-image: url('data:image/svg+xml,\
<svg viewbox="0 0 #{$svg-width}          #{$svg-height}"\
           width="#{$svg-width}" height="#{$svg-height}" \
xmlns="http://www.w3.org/2000/svg" style="outline: 2px dotted green;">\
  <g stroke="black" stroke-width="1">\
      <line x1="0" y1="#{$null-y}" x2="10000" y2="#{$null-y}" />\
      <line x1="0" y1="#{$akzent-y}" x2="10000" y2="#{$akzent-y}" />\
      <line x1="0" y1="#{$mheight-y}" x2="10000" y2="#{$mheight-y}" />\
      <line x1="0" y1="#{$xheight-y}" x2="10000" y2="#{$xheight-y}" />\
      <line x1="0" y1="#{$baseline-y}" x2="10000" y2="#{$baseline-y}" />\
      <line x1="0" y1="#{$descender-y}" x2="10000" y2="#{$descender-y}" />\
      <line x1="0" y1="#{$kegel-y}" x2="10000" y2="#{$kegel-y}" />\
  </g>\
</svg>');

    // background: linear-gradient(
    //     to bottom,
    //     #{$background-color} #{$null} #{$akzent},
    //     #{$akzent-color} #{$akzent} #{$mheight},
    //     #{$mheight-color} #{$mheight} #{$xheight},
    //     #{$xheight-color} #{$xheight} #{$baseline},
    //     #{$baseline-color} #{$baseline} #{$descender},
    //     #{$descender-color} #{$descender} #{$linespacing},
    //     #{$linespacing-color} #{$linespacing} #{$kegel}
    // );
}

// // Standard-Elemente

html {
    font-family: $font-family-sans-serif;
    font-size: $font-size;
    line-height: $line-height;
    text-align: left;
}

article:first-of-type {
    margin-block-start: toRem(5);
}

p {
    font-size: toRem(1);
    hyphens: auto;
    column-width: toRem(25); // 50 bis 75 Zeichen
}
