/* GRUND-Schrifteinstellung*/

html {
    font-family: Barlow, sans-serif;
    font-size: 18px; /* Basis für root em */
    line-height: 1.42378; /* Grundlinienraster */
}

h1 {
    font-size: 3rem;
}

article {
    column-width: 20rem;
    column-gap: 2rem;
    column-rule: dotted;

    text-align: justify;
    hyphens: auto;
    orphans: 3;
    widows: 3;
}
