/* ==============================
   1. Variablen und Farbdefinitionen
   ============================== */
:root {
    /* Sektionsfarben */
    --section-1: #CADA6C; /* Allgemeine Anforderungen */
    --onSection-1: #000;
    --section-2: #BED24B; /* Zwei-Wege-Sprachkommunikation */
    --onSection-2: #000;
    --section-3: #AEC431; /* Videofähigkeiten */
    --onSection-3: #000;
    --section-4: #DAB46C; /* Textalternativen */
    --onSection-4: #000;
    --section-5: #D2A34B; /* Zeitbasierte Medien */
    --onSection-5: #000;
    --section-6: #C49031; /* Anpassbar */
    --onSection-6: #000;
    --section-7: #A37829; /* Unterscheidbar */
    --onSection-7: #fff;
    --section-8: #DA7D6C; /* Tastaturbedienbar */
    --onSection-8: #000;
    --section-9: #D2604B; /* Ausreichend Zeit */
    --onSection-9: #000;
    --section-10: #C44731; /* Anfälle */
    --onSection-10: #fff;
    --section-11: #A33B29; /* Navigierbar */
    --onSection-11: #fff;
    --section-12: #A33B29; /* Eingabemodalitäten */
    --onSection-12: #fff;
    --section-13: #6CCADA; /* Lesbar */
    --onSection-13: #000;
    --section-14: #4BBED2; /* Vorhersehbar */
    --onSection-14: #000;
    --section-15: #31AEC4; /* Eingabeunterstützung */
    --onSection-15: #000;
    --section-16: #6C93DA; /* Kompatibel */
    --onSection-16: #000;
    --section-17: #31C447; /* Benutzerpräferenzen */
    --onSection-17: #000;
    --section-18: #29A33B; /* Autorenwerkzeuge */
    --onSection-18: #fff;
    --section-19: #6CDAB4; /* Dokumentation und Support */
    --onSection-19: #000;
    --section-20: hsl(2, 100%, 74%); /* Sonstige */
    --onSection-20: #fff;

    /* Konformitätslevel-Farben */
    --A: hsl(181, 100%, 29%);
    --onA: #fff;
    --AA: hsl(59, 100%, 29%);
    --onAA: #fff;
    --AAA: hsl(33, 100%, 29%);
    --onAAA: #fff;

    /* Berufsgruppen-Farben */
    --requirements: hsl(41, 100%, 74%);
    --onRequirements: #000;
    --design: hsl(35, 100%, 50%);
    --onDesign: #000;
    --development: hsl(9, 100%, 50%);
    --onDevelopment: #fff;
    --testing: hsl(205, 100%, 50%);
    --onTesting: #fff;
    --release: hsl(154, 100%, 28%);
    --onRelease: #fff;
    --maintenance: hsl(268, 69%, 34%);
    --onMaintenance: #fff;
    --content: hsl(205, 82%, 78%);
    --onContent: #000;
    --uxWriter: hsl(204, 43%, 65%);
    --onUxWriter: #fff;
    --redaktion: hsl(204, 43%, 65%);
    --onRedaktion: #fff;
    --corporateText: hsl(205, 78%, 77%);
    --onCorporateText: #000;

    /* Globale Variablen */
    --primary-focus-color: #4d90fe;
    --focus-outline-width: 2px;
    --focus-outline-offset: 2px;
    --transition-speed: 0.2s;
}
