/* ==============================
   1. Variablen und Farbdefinitionen
   ============================== */
:root {
    /* Sektionsfarben */
    --section-1: hsl(0, 100%, 75%);
    --onSection-1: #fff;
    --section-2: hsl(18, 100%, 75%);
    --onSection-2: #fff;
    --section-3: hsl(36, 100%, 75%);
    --onSection-3: #000;
    --section-4: hsl(54, 100%, 75%); /* 1.1 */
    --onSection-4: #000;
    --section-5: hsl(72, 100%, 75%);
    --onSection-5: #000;
    --section-6: hsl(90, 100%, 75%);
    --onSection-6: #000;
    --section-7: hsl(108, 100%, 75%);
    --onSection-7: #000;
    --section-8: hsl(126, 100%, 75%);
    --onSection-8: #000;
    --section-9: hsl(144, 100%, 75%);
    --onSection-9: #000;
    --section-10: hsl(162, 100%, 75%);
    --onSection-10: #000;
    --section-11: hsl(180, 100%, 75%);
    --onSection-11: #000;
    --section-12: hsl(198, 100%, 75%);
    --onSection-12: #000;
    --section-13: hsl(216, 100%, 75%);
    --onSection-13: #000;
    --section-14: hsl(234, 100%, 75%);
    --onSection-14: #fff;
    --section-15: hsl(252, 100%, 75%);
    --onSection-15: #fff;
    --section-16: hsl(267, 88%, 74%);
    --onSection-16: #fff;
    --section-17: hsl(283, 89%, 75%);
    --onSection-17: #fff;
    --section-18: hsl(302, 76%, 73%);
    --onSection-18: #fff;
    --section-19: hsl(324, 100%, 75%);
    --onSection-19: #fff;
    --section-20: hsl(2, 100%, 74%);
    --onSection-20: #fff;

    /* Konformitätslevel-Farben */
    --A: hsl(181, 100%, 29%);
    --onA: #fff;
    --AA: hsl(59, 100%, 29%);
    --onAA: #fff;
    --AAA: hsl(33, 100%, 29%);
    --onAAA: #fff;

    /* Berufsgruppen-Farben */
    --requirements: hsl(41, 100%, 74%);
    --onRequirements: #000;
    --design: hsl(35, 100%, 50%);
    --onDesign: #000;
    --development: hsl(9, 100%, 50%);
    --onDevelopment: #fff;
    --testing: hsl(205, 100%, 50%);
    --onTesting: #fff;
    --release: hsl(154, 100%, 28%);
    --onRelease: #fff;
    --maintenance: hsl(268, 69%, 34%);
    --onMaintenance: #fff;
    --content: hsl(205, 82%, 78%);
    --onContent: #000;
    --uxWriter: hsl(204, 43%, 65%);
    --onUxWriter: #fff;
    --redaktion: hsl(204, 43%, 65%);
    --onRedaktion: #fff;
    --corporateText: hsl(205, 78%, 77%);
    --onCorporateText: #000;

    /* Globale Variablen */
    --primary-focus-color: #4d90fe;
    --focus-outline-width: 2px;
    --focus-outline-offset: 2px;
    --transition-speed: 0.2s;
}
