footer#bottom(tabindex="0", aria-describedby="footer-description")
    p#footer-description.sr-hidden Du bist im Footer der Seite. Mit der Tab-Taste kannst du nun die Links inder Navigation ansteuern.

    address (c) 2022 copyleft Michael Reichart

    nav
        ul
            li
                a(href="impressum.html") Impressum
            li
                a(href="#top") zum Anfang der Seite
                