nav#top 
    a.sr-only.sr-focus(href="#content") zum Inhalt
    a.sr-only.sr-focus(href="#navigation") zur Seitennavigation
    a.sr-only.sr-focus(href="#search") zur Sucheingabe
    a.sr-only.sr-focus(href="#bottom") zum Ende der Seite
    a.sr-only.sr-focus(href="#accessibility-infos") Hinweise zu den Bedienungshilfen
