doctype html
html(lang="de-DE")
    include includes/head.pug
    
    body

        section
            h1 Lorem Accessibilitum dolor est
            
            p Ipsum dolor sit amet Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nihil deleniti dignissimos minima facere modi sequi dolores soluta, similique animi ut repellendus beatae unde ullam obcaecati harum magni hic ipsam, voluptatem reprehenderit.
            abbr(title="Customer Experience Plattform", lang="en") CEP 
            | consectetur.

            ul
                li Lorem
                li Lorem
                li Lorem
                li Lorem

            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque ratione, voluptatibus voluptatum eveniet dolores corporis voluptates, libero ex explicabo beatae doloribus tenetur ipsa, voluptas tempore? Dolores facere harum saepe, nihil veritatis possimus qui consectetur rem incidunt quam, asperiores dolore nemo pariatur assumenda ratione animi ab placeat amet. Aliquam nam, tempora obcaecati ipsam ea repudiandae quam assumenda soluta, ratione eveniet vitae. Reprehenderit molestiae officia ipsa quis quos omnis tempora officiis, repellat impedit maxime quod adipisci sed magnam ullam minus aliquid dolor ad at aut saepe ea dolores. Facilis saepe numquam tempore, autem cum ab consectetur. Autem ex optio odio eligendi! Cumque tenetur ad pariatur eos. Amet facere earum suscipit enim consectetur, ratione similique officia labore repellendus sint. Ea cumque dolorem distinctio dicta, accusamus praesentium quasi eveniet nobis omnis cum.

    include includes/script.pug
