doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Typography
        link(rel="stylesheet", href="assets/css/typography.css")
        script(src="assets/js/color-conversion.js", type="module")
    body
        .container
            .box.green-1
                h2 headline
                h2(class="not-bold") not bold
                p copy
                p
                    strong bold
            
            .box.green-2
                h2 headline
                h2(class="not-bold") not bold
                p copy
                p
                    strong bold

            .box.blue-yellow-1
                h2 headline
                h2(class="not-bold") not bold
                p copy
                p
                    strong bold

            .box.blue-yellow-2
                h2 headline
                h2(class="not-bold") not bold
                p copy
                p
                    strong bold

            .box.image
                h2 headline
                h2(class="not-bold") not bold
                p copy
                p
                    strong bold

            .box.gradient
                h2 headline
                h2(class="not-bold") not bold
                p copy
                p
                    strong bold


        h1 Lorem Headline 1 ipsum
        p Lorem Copy ipsum dolor sit amet consectetur, adipisicing elit.
            | Impedit adipisci, rerum officia earum ullam atque dicta alias
            | veritatis perferendis laudantium eos nihil dolorem? Maiores corrupti
            | harum non. Expedita magnam aperiam inventore nesciunt.
        
        p
            small Lorem Konsultationsext ipsum dolor sit amet, consectetur
                | adipisicing elit. Pariatur eveniet numquam ipsa rerum. Eaque,
                | animi qui. Saepe, minus.
