.checklists {
    .phases a[href] {
        color: var(--onSection-1);
        background: var(--section-1);
        text-decoration: none;
        display: block;
        text-align: center;
    }
    h2 {
        padding-block-start: 5rem !important;
    }
    h3 + ul {
        list-style: none;
        padding: 0;

        li::before {
            content: " ";
            display: inline-block;
            width: 1rem; height:1rem;
            margin-inline-end: 0.5rem;
            border: 3px solid hsla(0, 40%, 40%, 0.5);
            border-radius: 50%;
        }
    }
}
section.details {
    background: white;

    margin-inline: -1rem;
    padding-inline: 1rem;

    h3 {
        &::before {
            content: "Frage & Antwort";
            display: block;
            font-size: 0.85rem;
        }
        padding-block-start: 2rem;
    }
}
