.color-card {
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 0.25rem;

    min-height: 10rem;
    max-height: 14rem;

    figcaption {
        // min-height: 2rem;
        grid-column: span 5;
        grid-row: span 1;
    }

    > ol {
        // Reset
        list-style-type: none;
        padding: 0;
        margin: 0;

        // Layout
min-height: 10rem;
max-height: 14rem;

        grid-column: span 1;
        grid-row: span 1;
        display: grid;
        grid-template-columns: repeat(
            2,
            1fr
        ); // repeat(auto-fill, minmax(200px, 1fr));
        grid-auto-rows: 1fr;
        gap: 0.25rem;
        justify-content: center;

        > li {
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }

        // Farbfeld
        > li:first-child {
            grid-column: span 2;
            height: 6rem;
        }
        // Farb-Abstufungen
        > li:not(:first-child) {
            grid-column: span 1;
            height: 3rem;
        }

        // Farbfeld
        > li:first-child {
            grid-column: span 2;
        }
        // Farb-Abstufungen
        > li:not(:first-child) {
            grid-column: span 1;
        }
    }
    > h3,
    > h4 {
        display: none;
    }
    > ul,
    > ul ul {
        // Reset
        list-style-type: none;
        padding: 0;
        margin: 0;

        // Layout
        grid-column: span 1;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;
        gap: 0rem;

        > li:first-child {
            grid-column: span 2;
            grid-row: span 1;
            height: 4rem;

            // display: flex;
            // flex-direction: column;
            // justify-content: flex-end;
            // align-items: center;
            // padding: 0.25rem;
        }
        > li:not(:first-child) {
            grid-column: span 1;
            grid-row: span 1;
            height: 2rem;
        }
    }
}
