.color {
    &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

            .box > ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            margin-block-start: 1.2rem;
        }

        > * {
            display: flex;
            
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .box {
            width: 7rem;
            height: 7rem;
            font-size: 12px;
            border-radius: 1rem;
        }

        .small-box {
            width: 2.5rem;
            height: 2.5rem;
            font-size: 8px;
            border-radius: 0.3rem;
            margin-inline-end: 0.25rem;
            margin-block-end: 0.25rem;
            padding: 0.25rem;
        }
    }
}

.error {
    background-color: var(--error);
    color: var(--on-error);
}

.success {
    background-color: var(--success);
    color: var(--on-success);
}

.warning {
    background-color: var(--warning);
    color: var(--on-warning);
}

.info {
    background-color: var(--info);
    color: var(--on-info);
}

.primary {
    background-color: var(--primary);
    color: var(--on-primary);
}

.secondary {
    background-color: var(--secondary);
    color: var(--on-secondary);
}

.tertiary {
    background-color: var(--tertiary);
    color: var(--on-tertiary);
}

.neutral {
    background-color: var(--neutral);
    color: var(--on-neutral);
}

.bright {
    background-color: var(--bright);
    color: var(--on-bright);
}

.medium {
    background-color: var(--medium);
    color: var(--on-medium);
}

.dark {
    background-color: var(--dark);
    color: var(--on-dark);
}

.accred {
    background-color: var(--accred);
    color: var(--on-accred);
}

.shadow {
    box-shadow: 0 0 10px var(--shadow);
}

.disabled {
    background-color: var(--disabled);
    color: var(--on-disabled);
}

.sample {
    background-color: var(--sample);
    color: var(--on-sample);
    border: 1px solid var(--on-sample) !important;


}

.code {
    background-color: var(--code);
    color: var(--on-code);
}

.link-color {
    color: var(--link-color);
}

.link-hover {
    color: var(--link-hover);
}

.link-visited {
    color: var(--link-visited);
}

.link-active {
    color: var(--link-active);
}
