.contrast-container {
    --lightgreen: #a4c355;
    --darkgreen: #255234;
    --lightgreen-1: #a5c157;
    --darkgreen-1: #326e46;
    --yellow: #fdbd00;
    --blue: #1190eb;
    --lightgray: rgb(158, 158, 157);
    --darkgray: rgb(79, 79, 79);
    --lightgray-1: rgb(192, 192, 192);
    --darkgray-1: rgb(79, 79, 79);
}

.contrast-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 10rem;
    height: 10rem;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    font-family: Barlow;
    font-size: 18px;

    .figcaption {
        display: block;
        width: 100%;
    }
    small {
        font-size: 0.8rem;
    }
}
.box h3 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    line-height: 1;
}
.box p {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    line-height: 1;
}
.green-1 {
    color: var(--lightgreen) !important;
    background: var(--darkgreen) !important;
}
.green-2 {
    color: var(--darkgreen) !important;
    background: var(--lightgreen) !important;
}
.green-3 {
    color: var(--lightgreen-1) !important;
    background: var(--darkgreen-1) !important;
}
.green-4 {
    color: var(--darkgreen-1) !important;
    background: var(--lightgreen-1) !important;
}
.blue-yellow-1 {
    color: var(--yellow) !important;
    background: var(--blue) !important;
}
.blue-yellow-2 {
    color: var(--blue) !important;
    background: var(--yellow) !important;
}
.lightgray-darkgray {
    color: var(--lightgray) !important;
    background: var(--darkgray) !important;
}
.darkgray-lightgray {
    color: var(--darkgray) !important;
    background: var(--lightgray) !important;
}
.lightgray-darkgray-1 {
    color: var(--lightgray-1) !important;
    background: var(--darkgray) !important;
}
.darkgray-lightgray-1 {
    color: var(--darkgray) !important;
    background: var(--lightgray-1) !important;
}

.image {
    color: var(--yellow);
    background: url("https://picsum.photos/id/92/200/200");
    background-size: cover;
}
.gradient {
    color: var(--blue);
    background: linear-gradient(45deg, var(--yellow) 0%, var(--darkgreen) 100%);
}
.not-bold {
    font-weight: 400;
}
.wcag-3-1 {
    --darkgray: #7d7d7d;
    --lightgray: #dcdcdc;

    background-color: var(--lightgray);
    color: var(--darkgray);
    padding: 0.5rem;
}
.wcag-3-1-1 {
    --lightgray: #ffffff;
    --darkgray: #959595;

    background-color: var(--lightgray);
    color: var(--darkgray);
    padding: 0.5rem;
}

.outset {
    border: 2px outset;
    border-radius: 0.2rem;
}
.inset {
    border: 2px inset;
    border-radius: 0rem;
}
