html {
    background: hsla(0, 0%, 0%, 0.85);
    color: hsla(0, 0%, 100%, 0.85);
}

.ephemeride {
    .svg-line {
        stroke: black;
        stroke-width: 2;
        fill: none;
    }
    .svg-text {
        font-size: 1em;
        text-anchor: middle;
        fill: black;
    }
    svg-sign {
        fill: black;
        stroke: none;
    }
}
