/* Typografie,
 200% Zoom und Umbruch 
 Schrift, Abstände veränderbar!
 */

:root {
    font-size: clamp(14px, 1rem, 24px);
}

body {
    font-family: Verdana, sans-serif;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.25rem;
}

/* Geräteabhängig Schriftgrößen umstellen */
@media (max-width: 576px) {
    :root {
        font-size: 16px;
    }
    h1 {
        font-size: 2rem;
    }
}

@media (prefers-reduced-motion: reduce) {
}

@media (prefers-font-size: 18px) {
}

:focus {
    outline: 2px solid blue;
    outline-offset: 2px;
}

nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        li {
            border: 1px solid black;
            padding: 0.25rem;
            border-radius: 0.25rem;

            &:hover {
                background-color: black;
            }
        }
    }
    a {
        &:link {
            text-decoration: none;
        }
        &:hover {
            color: white;
        }
    }
}
