/* Typografie,
 200% Zoom und Umbruch 
 Schrift, Abstände veränderbar!
 */

:root {
  /* Typography */
  font-size: clamp(14px, 1rem, 24px);

  /* Colors */
  --onPrimary: hsl(344 25.6% 91.6% /1);
  --primary: hsl(234 49% 51.6% /1);
  --onSecondary: hsl(270 42% 9.4% /1);
  --secondary: hsl(185 46.2% 61.4% /1);
  --onSuccess: hsl(131 100% 76% /1);
  --success: #ffffff;
  --danger: hsl(352 100% 53% /1);
  --onDanger: #ffffff;
  --warning: #ffc107;
  --onWarning: #212529;
  --info: #17a2b8;
  --onInfo: #ffffff;

  --background: #f0f0f0;
  --text: #212529;
  --light: #f8f9fa;
  --dark: #343a40;

  --focus: #007bff;
  --link: hsl(212, 20%, 80%);
  --visited: hsl(281 100% 77% /1);
  --hover: #0056b3;
  --active: hsl(225 95% 63% /1);
  --disabled: #6c757d;
}
/* - - - - - - - - - -
   BASE
   - - - - - - - - - - */
body {
    font-family: Roboto, sans-serif;
    background-color: var(--background);
    color: var(--text);
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1.25rem;
}

a:link {
    color: var(--link);
    text-decoration: none;
}
a:visited {
    color: var(--visited);
}
a:hover {
    color: var(--hover);
}
a:active {
    color: var(--active);
}
a:focus {
    color: var(--focus);
}
a:disabled {
    color: var(--disabled);
}
/* Geräteabhängig Schriftgrößen umstellen */
@media (max-width: 576px) {
    :root {
        font-size: 16px;
    }
    h1 {
        font-size: 2rem;
    }
}

@media (prefers-reduced-motion: reduce) {
}

@media (prefers-font-size: 18px) {
}

/* - - - - - - - - - -
   LAYOUT
   header oben
   Main und aside nebeneinander
    footer unten
   - - - - - - - - - - */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--primary);
    color: var(--onPrimary);
}

.main-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex: 1; /* Diese Zeile hinzufügen, damit der Container expandiert */
}

main {
    flex: 10; /* Verhältnis 3:2 statt prozentuale Basis */
}

aside {
    flex: 2; /* Verhältnis 3:2 statt prozentuale Basis */
    background-color: var(--secondary);
    color: var(--onSecondary);
}

footer {
    background-color: var(--primary);
    color: var(--onPrimary);
}

/* - - - - - - - - - -
   NAVIGATION
   - - - - - - - - - - */
nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        li {
            border: 1px solid black;
            padding: 0.25rem;
            border-radius: 0.25rem;

            &:hover {
                background-color: black;
            }
        }
    }
    a {
        &:link {
            text-decoration: none;
        }
        &:hover {
            color: white;
        }
    }
}

img {
    filter: saturate(0.15) opacity(0.85) ;
}

/* - - - - - - - - - -
   FORM
   - - - - - - - - - - */
:focus {
    outline: 2px solid var(--focus);
    outline-offset: 2px;
}

:valid + p.error {
    display: none;
    background: var(--onSuccess);
}
:invalid + p.error {
    display: block;
    background: var(--danger);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-block: 3rem;
    fieldset {
        max-width: 20rem;

        border: 1px solid var(--dark);
        border-radius: 0.25rem;
        padding: 1rem;
        margin: 1rem 0;

        label {
            display: block;
            margin-bottom: 0.5rem;
        }
        input {
            width: calc(100% - 1rem);
            padding: 0.5rem;
            margin-top: 0.5rem;
        }
        button {
            display: block;
            width: 100%;
            padding: 0.5rem;
            margin-top: 1rem;
        }
    }
}
/* - - - - - - - - - -
   HERO
   - - - - - - - - - - */
.hero {
    background-image: url(https://picsum.photos/id/30/800/400?grayscale);
    background-size: cover;

    color: var(--light);
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: bottom;

    h1 {

        font-size: 3rem;
        text-align: center;
        margin: 0;
        color: var(--dark);
    }
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    .card {
        figure {
            margin: 0;
        }
        img {
            width: 100%;
            height: auto;
            border-radius: 0.25rem;
        }
        background-color: var(--light);
        border: 1px solid var(--dark);
        border-radius: 0.25rem;
        padding: 1rem;
        width: 300px;
        text-align: center;

        h2 {
            font-size: 2rem;
            margin: 0;
        }
        p {
            font-size: 1.25rem;
            margin: 0.5rem 0;
        }
    }
}
